<!-- //include header -->

<%-include('include/_header')%>
    <!-- //include header -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-8">
                        <!-- /.card-header -->
                        <!-- form start -->

                        <%-include('include/_form')%>



                    </div>
                </div>
            </div>
        </div>
    </div>