<!-- //include header -->

<%-include('include/_header')%>
    <!-- //include header -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-8">
                        <!-- /.card-header -->
                        <!-- form start -->
                        <%-include('include/_formFoods')%>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            const admin = JSON.parse(localStorage.getItem('admin'));
            if (!admin) {
                window.location.replace("http://localhost:3000/adminlogin");
            } else {
                if (admin.role == "company") {
                    window.location.replace("http://localhost:3000/orders?id=" + admin._id);
                }
            }
        });
    </script>