<form action="/api/company/all-companies" method="POST" id="addbusiness" enctype="multipart/form-data">
    <div class="card-body ">
        <div class="form-group">
            <div class="filter ">
                <a href="/business">
                    <i class="fas fa-angle-double-left "></i>All Business</a>
            </div>
            <br>
            <div class="form-title text-center ">
                <h2 class="text-dark ">New business</h2>
                <span class="text-dark ">Use the below form to create new business</span>
            </div>
            <label for="email ">Email address</label>
            <input type="email" name="email" value="" class="form-control " id="email" placeholder=" example@gmail.com ">
        </div>
        <div class="form-group">
            <label for="companyName ">Company Name</label>
            <input type="text " name="companyName" value="" class="form-control " id="companyName" placeholder="Company Name ">
        </div>
        <div class="form-group">
            <label for="ownerName ">Owner Name</label>
            <input type="text " name="ownerName" value="" class="form-control " id="ownerName" placeholder="Owner Name ">
        </div>

        <div class="form-group">
            <label for="phoneNumber ">Mobile On</label>
            <input type="number" name="phoneNumber" value="" class="form-control " id="phoneNumber" placeholder="Mobile Number">
        </div>
        <div class="form-group">
            <label for="tradeLicense ">Trade licence</label>
            <input type="file" name="tradeLicense" value="" class="form-control ">
        </div>
        <div class="form-group">
            <label for="typeOfCompany ">Type of company</label>
            <select name="typeOfCompany" id="typeOfCompany">
                <option value="it">IT</option>
                <option value="marketing">Marketing</option>
                <option value="business">Business</option>
                
              </select>
        </div>
        <div class="form-group">
            <label for="panCardNumber ">PAN Card Number</label>
            <input type="number" name="panCardNumber" value="" class="form-control " id="panCardNumber" placeholder="PAN Number">
        </div>
        <div class="form-group">
            <label for="panCardImage ">PAN Card Image</label>
            <input type="file" name="panCardImage" value="" class="form-control ">
        </div>
        <div class="form-group">
            <label for="agreementCopy ">Agreement copy Image</label>
            <input type="file" name="agreementCopy" value="" class="form-control ">
        </div>
        <div class="form-group">
            <label for="businessLocation ">Business Location</label>
            <input type="text " name="businessLocation" value="" class="form-control " id="businessLocation" placeholder="Business location">
        </div>
        <div class="form-group">
            <label for="businessAddress ">Business Address</label>
            <input type="text " name="businessAddress" value="" class="form-control " id="businessAddress" placeholder="Business Address">
        </div>
        <div class="form-group">
            <label for="noOfEmployees ">Number of Employees</label>
            <select name="noOfEmployees" id="noOfEmployees">
                <option value="ten">Less than 10</option>
                <option value="thirty">Less than 30</option>
                <option value="thirtyplus">More than 30</option>
              </select>
        </div>
        <div class="form-group">
            <label for="gstNumber ">GST number</label>
            <input type="number" name="gstNumber" value="" class="form-control " id="gstNumber" placeholder="GST Number">
        </div>
        <div class="form-group">
            <label for="accountNumber ">Account number</label>
            <input type="number" name="accountNumber" value="" class="form-control " id="accountNumber" placeholder="Account Number">
        </div>
        <div class="form-group">
            <label for="ifscCode ">ISFC code</label>
            <input type="text" name="ifscCode" value="" class="form-control " id="ifscCode" placeholder="ISFC code">
        </div>
        <div class="form-group">
            <label for="typeOfService ">Types of services</label>
            <select name="typeOfService" id="typeOfService">
                <option value="italian">Italian Platter</option>
                <option value="bengali">Bengali Platter</option>
                <option value="diet">Gym Diet</option>
                <option value="mughlai">Mughlai</option>
                <option value="chinese">Chinese</option>
              </select>
        </div>
        <div class="form-group">
            <label for="dateOfEstablishment ">Established from</label>
            <input type="date" name="dateOfEstablishment" value="" class="form-control " id="dateOfEstablishment">
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer ">
        <button type="submit " id="submit" class=" btn btn-primary ">Submit</button>
    </div>

</form>